* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: sans-serif;
    font-size: 16px;
}

#header {
    width: 100%;
    background-color: var(--backgroup-color);
    position: relative;
}

.header__cart {
    width: 100%;
    background-color: #F6FBF4;
    padding: 10px 0;
    text-align: right;
    color: #ccc;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.cart__search {
    width: 86%;
    margin: 0 auto;
}
.cart__link{
    color: #ccc;
    text-decoration: none;
    display:inline-block;
}
.cart__icon{
    font-size: 30px;
    position: relative;
}
.cart__count{
    position: absolute;
    top: 10px;
    right: 318px;
    width: 23px;
    height: 20px;
    z-index: 1;
    color: var(--text-color);
    text-align: center;
    border-radius: 50%;
    background-color: var(--backgroup-color);
}
.cart__link:hover .cart__icon{
    color: var(--primary-color);
}
.nav {
    width: 86%;
    margin: 0 auto;
    padding:20px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar__logo{
    max-width: 300px;
}

.navbar__img{
    width: 100%;
    height: 144px;
    transition: transform linear 0.4s;
}
.navbar__img:hover{
    transform: scale(1.2);
}
.navbar__list{
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar__item{
    margin-left: 40px;
    cursor: pointer;
}

.nav__link {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}


/* HOVER */
.hover__item1 {
    width: 100vw;
    background-color: white;
    box-shadow: 5px 0 5px 0 #888888;
    padding: 50px 0;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    animation-name: fadeIn;
    animation-duration: .2s;
    animation-timing-function: ease-in;
    z-index: 10;
}

.bridge {
    display: none;
    position: absolute;
    height: 70px;
    left: 0;
    right: 0;
    top: 65%;
}

.hover__TH:hover .hover__item1.item1, .hover__TH:hover .bridge {
    display: block;
}

.hover__Nam:hover .hover__item1.item2, .hover__Nam:hover .bridge {
    display: block;
}

.hover__Nu:hover .hover__item1.item3, .hover__Nu:hover .bridge {
    display: block;
}

.hover__CD:hover .hover__item1.item4, .hover__CD:hover .bridge {
    display: block;
}

.content {
    display: flex;
    justify-content: space-between;
    width: 84%;
    margin: 0 auto;
}

.product {

}

.product__caption {
    font-size: 17px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.product__list {
    list-style: none;
    padding-left: 8px;
    margin: 0;
}

.product__item {
    margin-bottom: 10px;
}

.right__icon {
    font-size: 14px;
}

.product__name {
    text-decoration: none;
    color: black;
    margin-left: 8px;
}

.product__imgs {
    margin: auto 0;
}

/* HOVER ITEM2 */
.hover2 {
    position: relative;
    z-index: 10;
}

.hover__item2 {
    position: absolute;
    top: 100%;
    left: 0;
    border: 1px solid rgb(153, 153, 153);
    width: 170px;
    box-shadow: 1px 0 3px #888888;
    background-color: white;
    display: none;
    animation-name: fadeIn;
    animation-duration: .2s;
    animation-timing-function: ease-in;
    border-radius: 2px;
    z-index: 10;
}

.hover__list {
    list-style: none;
    padding: 0px 0px;
}

.hover__item:last-child {
    border-bottom: none;
}

.hover__item {
    padding: 10px 5px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.hover__link {
    text-decoration: none;
    color: black;
}

.hover__PK:hover .hover__item2.item5 {
    display: block;
}

.hover__DV:hover .hover__item2.item6 {
    display: block;
}

.hover__LH:hover .hover__item2.item7 {
    display: block;
}

.nav__link:hover, .product__name:hover, .hover__link:hover {
    color: var(--hover-color);
}







/* FOOTER */
#footer {
    width: 100%;
    background-color: #800202;
}

.container__footer {
    padding: 50px 0;
    width: 86%;
    margin: 0 auto;
}

.footer__info {
    display: flex;
    justify-content: space-between;
}

.footer__tele {

}

.tele__img, .trandemark__img{
    width: 100%;
}
.footer__trademark{
    margin-bottom: 20px;
}
.trademark__heading {
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 30px;
}

.trademark__list {
    padding: 0;
    list-style: none;
}

.trademark__item {
    margin-bottom: 8px;
}

.trademark__item:hover .trademark__link {
    color: white;
    text-decoration: underline;
}

.trademark__link {
    color: white;
    font-size: 12px;
    text-decoration: none;
}

.footer__branch {
    width: 84%;
    margin: 30px auto 40px;
}

.branch__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
}

.branch__item {
    border: 1px solid white;
    border-radius: 30px;
    padding: 10px 14px;
}

.branch__item:hover {
    background-color: white;
}

.branch__item:hover .branch__link {
    color: black;
}

.branch__link {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
}

.footer__contact {
    width: 100%;
    border-top: 1px solid white;
}

.container__contact {
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}

.footer__address {
    display: flex;
    flex-direction: column;
    color: white;
    margin: 5px;
    font-size: 14px;
}

.footer__pay {

}




/* ANIMATION */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


