*{
    margin: 0px;
    padding: 0px;;
  }
  
  body{
    font-family: Arial, Helvetica, sans-serif;
  }
  main{
    display: flex;
  }
  .container-form
  {
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: red;
    background: linear-gradient(to bottom, rgb(128, 7, 57),  rgb(14, 48, 122));
    width: 800px;
    height: 400px;
    margin: 50px 50px;
    border-radius: 5px;
    box-shadow: 2px 3px 3px rgb(128, 7, 57);
  }
  
  .content-holder
  {
    text-align: center;
    color: white;
    font-size: 14px;
    font-weight: lighter;
    letter-spacing: 2px;
    margin-top: 15%;
    padding: 50px;
  }
  
  .content-holder h2
  {
    font-size: 34px;
    margin: 20px auto;
  }
  
  .content-holder p
  {
    margin: 30px auto;
  }
  
  .content-holder button
  {
    border:none;
    font-size: 15px;
    padding: 10px;
    border-radius: 6px;
    background-color: white;
    width: 150px;
    margin: 20px auto;
  }
  
  .content-holder button:hover{
    background: rgb(65, 65, 65);
    color: white;
  }

  .box-2{
    background-color: white;
    border-radius: 5px;
    margin: 5px;
  }
  
  .login-form-container
  {
    text-align: center;
    margin-top: 10%;
  
  }
  
  .login-form-container h1
  {
    color: black;
    font-size: 24px;
    padding: 20px;
  }
  
  .input-field
  {
    box-sizing: border-box;
    font-size: 14px;
    padding: 10px;
    border-radius: 7px;
    border: 1px solid rgb(168, 168, 168);
    width: 250px;
    outline: none;
  }
  
  .login-button{
    box-sizing: border-box;
    color: white;
    font-size: 14px;
    padding: 13px;
    border-radius: 7px;
    border: none;
    width: 250px;
    outline: none;
    background-color: rgb(56, 102, 189);
    cursor: pointer;
  }
  .login-button:hover{
    background-color: rgb(34, 66, 126);
  }
  
  .button-2
  {
    display: none;
  }

  .signup-form-container
  {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-60%);
    text-align: center;
    display: none;
  }
  
  
  .signup-form-container h1
  {
    color: black;
    font-size: 24px;
    padding: 20px;
  }
  
  .signup-button{
    box-sizing: border-box;
    color: white;
    font-size: 14px;
    padding: 13px;
    border-radius: 7px;
    border: none;
    width: 250px;
    outline: none;
    background-color: rgb(56, 189, 149);  
    cursor: pointer;
  }
  .signup-button:hover{
    background-color: rgb(0, 133, 93);
  }

  .slide-container{
    width: 50%;
    position: relative;
  }
  .slide-img{
    width: 75%;
    display: block;
    margin: 50px 50px 50px auto;
    padding: 3px;
    box-shadow: 2px 2px 5px rgb(92, 92, 92);
    border-radius: 5px;
  }
  .number-text{
    color: #000000;
    font-size: 20px;
    position: absolute;
    top: 12%;
    left: 20%;
    z-index: 10;
  }
  .fade{
    animation: fade;
    animation-duration: 1.5s;
  }
  @keyframes fade {
    from {opacity: .4;}
    to {opacity: 1;}
  }
